@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

form {
  text-align: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 2; /* Adjust the z-index value to place the chat input box above the messages */
}

input {
  width: calc(100% - 20px);
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'Share Tech Mono', monospace;
  background-color: #2b2b2b;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: none;
}

input:focus {
  outline: none;
}

/* Optional: Adjust the input appearance to fit a brutalist style */
input::placeholder {
  color: #bfbfbf;
}

input:hover {
  background-color: #3f3f3f;
}

/* Update the z-index of the chat messages to position them behind the chat input box */
section {
  position: relative;
  z-index: 1; /* Adjust the z-index value to place the messages behind the chat input box */
  
}
