@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
h1 {
    font-size: 1.2em;
    font-family: 'Share Tech Mono', monospace;
    line-height: 1.1;
    text-align: left;
    padding-left: 10px;
    position: sticky;
    top: 0;
    color: black;
  }